Beer Name: <%= @beer.name %> <br>
Brewed By: <a href="/breweries/<%=@beer.brewery.id%>"><%= @beer.brewery.name %></a><br>
Style: <%= @beer.style %><br>
ABV: <%= @beer.abv %><br>
<br></br>
Description:<br></br>
 <%= @beer.description %>

 <form method="post" action="/beers/<%=@beer.id%>"  >
 	<input id="hidden" type="hidden" name="_method" value="delete">

 	<input class="btn btn-secondary" type="submit" value="Delete Beer">
 </form>